.input-group-text {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: none;
    color: white
}

.section-signup {
    padding-top: 0;
    background-image: url("../../../assets/images/slide3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    background-size: cover;
    min-height: fit-content;
}

.signup-backdrop {
    padding-top: 20px;
    height: 100%;
    min-height: fit-content;
}

.logo, .logo:hover {
    color: #fff !important;
    text-decoration: none;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
}

.wrapper {
    height: 44px;
    margin-top: 20px;
}

.input-group, .form-group {
    margin-bottom: 0;
}
