<div class="container d-flex justify-content-center">
    <div class="col-12 row">
        <div class="col-lg-8 col-sm-7">
            <div class="col-lg-10 text-center col-md-8 ml-auto mr-auto">
                <div class="form-wrapper">
                    <h2 class="title">Contact us Directly</h2>
                    <p class="description">We want to hear from you!</p>
                    <form class="form" #contactUsForm="ngForm" role="form">
                        <div class="input-group form-group-no-border  input-lg">
                            <div class="input-group-prepend mr-0">
                                        <span class="bg-dark-primary input-group-text ">
                                            <i class="fa fa-user fa-fw"></i>
                                        </span>
                            </div>
                            <input type="text" class="form-control" placeholder="First Name...">
                        </div>
                        <div class="input-group form-group-no-border input-lg">
                            <div class="input-group-prepend mr-0">
                                        <span class="bg-dark-primary input-group-text ">
                                            <i class="fa fa-envelope fa-fw"></i>
                                        </span>
                            </div>
                            <input type="text" class="form-control" placeholder="Email...">
                        </div>
                        <div class="textarea-container">
                     <textarea class="form-control" name="name" rows="4" cols="80"
                               placeholder="Type a message..."></textarea>
                        </div>
                        <div class="send-button text-center mt-2">
                            <a href=""
                               class="btn btn-neutral btn-round shadow border shadow-sm border-primary">Send
                                Message</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-5">
            <div class="contacts mt-4 align-middle text-truncate">
                <div class="contact-email">
                    <!--<span class="btn btn-neutral btn-icon btn-round border shadow-sm border-primary">-->
                    <!--<i class=" fa fa-envelope"></i> </span>-->
                    <div class="contact-label text-left">Email</div>
                    <a href="mailto:Contact@tutortemple.com">Contact@tutortemple.com</a>
                </div>
                <div class="contact-phone">
                    <!--<span class="btn btn-neutral btn-icon btn-round border shadow-sm border-primary">-->
                    <!--<i class=" fa fa-phone"></i> </span>-->
                    <div class="contact-label text-left">Phone numbers</div>
                    <div>US Toll Free: 11121212</div>
                    <div>New Zealand: +64 9999999</div>
                </div>
                <div class="contact-social ">
                    <div class="contact-label text-left">Social media</div>
                    <a target="_blank" href="javascript:void(0)"
                       class="btn btn-neutral btn-icon btn-twitter btn-round shadow-sm border border-primary"
                       rel="tooltip" title="Follow us">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a target="_blank" href="javascript:void(0)"
                       class="btn btn-neutral btn-icon btn-facebook btn-round border shadow-sm border-primary"
                       rel="tooltip" title="Like us">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="javascript:void(0)"
                       class="btn btn-neutral btn-icon btn-linkedin btn-round shadow-sm border border-primary"
                       rel="tooltip" title="Follow us">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a target="_blank" href="javascript:void(0)"
                       class="btn btn-neutral btn-icon btn-github btn-round shadow-sm border border-primary"
                       rel="tooltip" title="Follow us">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
