<div class="container">
    <h1 class="text-center">
        How it works!
    </h1>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <h3 class="title">
                        Find a subject or a tutor
                    </h3>
                    <p>
                        Tutor temple has expert tutors from around the world ready to teach you exactly what you want to learn at affordable prices.
                    </p>
                </div>
                <div class="col-6 text-center">
                    <img src="./assets/images/stackBooks.png"  class="how-it-works-image"/>
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <img src="./assets/images/schedule3.png"  class="how-it-works-image"/>
                </div>
                <div class="col-6">
                    <h3 class="title">
                        Schedule a lesson
                    </h3>
                    <p>
                        Find a time that is convenient for YOU! Our scheduling tools make it easy to match a tutor, no matter what time zone they are in…or use our “Instant Tutoring” to find a tutor available right now!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h3 class="title">
                        Attend class
                    </h3>
                    <p>
                        All the tools you need for an effective tutoring session are built into our online classroom. Video chat, whiteboards, and document sharing make it easy to learn fast.
                    </p>
                </div>
                <div class="col-6 text-center">
                    <img src="./assets/images/video-chat.png"  class="how-it-works-image"/>
                </div>
            </div>
        </div>
    </div>
</div>
