<div class="bg-dark-primary search-panel d-flex mt-5 justify-content-between">
  <div class="search-label-tag text-center">
    <h3 class="m-0">Find your</h3>
    <h2 class="m-0 text-primary">Tutor</h2>
  </div>
  <div class="my-auto m-3">
    <div class="btn-group m-2 m-md-2 m-lg-2 m-xl-3" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Select category <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>
    <div class="btn-group m-2 m-md-2 m-lg-2 m-xl-3" dropdown>
      <button id="button-basic1" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Select subject <span class="caret"></span>
      </button>
      <ul id="dropdown-basic1" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-basic">
        <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="my-auto">
    <button class="btn btn-neutral m-2 m-md-2 m-lg-2 m-xl-3"><i class="fa fa-search fa-lg"></i> Find Now</button>
  </div>
</div>
