
<div class="cuadro_intro_hover card">

  <img src="http://placehold.it/350x200" class="img-responsive" alt="">

  <div class="caption">
    <div class="blur"></div>
    <div class="caption-text">
      <h5 class="text">{{data.title}}</h5>
      <!--<a class="btn btn-info mt-2" href="http://mispicaderos.com"><span class="glyphicon glyphicon-plus">View</span></a>-->
      <a href="javscript:void(0)" class="btn btn-primary btn-round"><i class="fa fa-eye fa-lg mr-2"></i>View</a>
    </div>
  </div>
</div>
