<div class="section section-download bg-dark-primary text-light" id="#download-section">
    <div class="container">
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8 pl-0 pr-0">
                <h3>Connect with us!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8 pl-0 pr-0">
                <a target="_blank" href="javascript:void(0)"
                   class="btn btn-neutral btn-icon btn-twitter btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="javascript:void(0)"
                   class="btn btn-neutral btn-icon btn-facebook btn-round btn-lg" rel="tooltip" title="Like us">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a target="_blank" href="javascript:void(0)"
                   class="btn btn-neutral btn-icon btn-linkedin btn-lg btn-round" rel="tooltip" title="Follow us">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a target="_blank" href="javascript:void(0)"
                   class="btn btn-neutral btn-icon btn-github btn-round btn-lg" rel="tooltip" title="Follow us">
                    <i class="fa fa-pinterest"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="footer bg-ex-dark-primary text-light">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="javscript:void(0)">
                        TERMS & CONDITIONS
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0)">
                        HELP
                    </a>
                </li>
                <li>
                    <a href="javscript:void(0)">
                        ABOUT
                    </a>
                </li>
                <li>
                    <a routerLink="/contacts">
                        CONTACTS
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            Copyright © 2018 Tutor Temple, LLC. All Rights Reserved.
        </div>
    </div>
</footer>
